---
import BaseLayout from '../../layouts/Layout.astro';
import Blogpost from '../../components/Blogpost.astro';

export async function getStaticPaths() {
   
    const personalPosts = Object.values(import.meta.glob('./../posts/personal/*.md', { eager: true }));
    const professionalPosts = Object.values(import.meta.glob('./../posts/professional/*.md', { eager: true }));
    const allPosts = [...personalPosts, ...professionalPosts];

    const uniqueTags = [
  ...new Set(
    [
      ...personalPosts.map((post: any) => post.frontmatter.tags).flat(),
      ...professionalPosts.map((post: any) => post.frontmatter.tags).flat()
    ]
  )
];
    
    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
        return {
        params: { tag },
        props: { posts: filteredPosts },
    };
});

}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag} :</p>
  <ul>
    {posts.map((post: any) => <Blogpost url={post.url} date={post.frontmatter.pubDate} title={post.frontmatter.title}/>)}
  </ul>
</BaseLayout>